include COPYING.md
include CONTRIBUTING.md
include README.md
include jupyter_core/py.typed

exclude .pre-commit-config.yaml
exclude .git-blame-ignore-revs
exclude readthedocs.yml

# Documentation
graft docs
graft examples

# Test files
graft jupyter_core/tests/dotipython
graft jupyter_core/tests/dotipython_empty

# dirs we want to skip
prune scripts
prune docs/_build

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
